*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
    justify-content: space-around;
}
.mainheader{
    text-align:center;
    font-size:xx-large;
    border:groove;
    border-radius:5px;
    margin:10vh;
}
.d-flex{
    width:75%;
    margin:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    background-color: #f1f1f1;
    
}
.card:hover{
    box-shadow: 10px 10px 5px grey;

}
.flex-fill{
    text-align: center;
}
img{
    height: 25vh;
    width: 50vw;
    object-fit: cover;
}
@media screen and (max-width: 600px) {
    .flex-row {
      width: 100%;
      display: block;
      flex-direction:column;
      margin-bottom: 20px;
    }
}
